# Default ignored files
/../../spring./.idea/shelf/
/../../spring./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../spring./.idea/httpRequests/
# Datasource local storage ignored files
/../../spring./.idea/dataSources/
/../../spring./.idea/dataSources.local.xml
